@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

.product-item {
  display: flex;
  margin-top: 20vh;
  padding: 0 3vw;
  column-gap: 15vw;
}

.p-heading {
  color: #191919;
  font-weight: 700;
  line-height: 38px;
  font-size: 2vw;
}

.p-para {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1vw;
  line-height: 25px;
  padding-top: 2vh;
}

.p-right {
  width: 50vw;
}

.p-ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 3vh;
}

.p-li {
  list-style: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1vw;
  line-height: 25px;
}

.p-wx {
  color: #d87d4a;
  font-weight: 700;
  margin-right: 1vw;
}
