/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
  .navbar::after {
    width: 90%;
  }

  #container {
    margin: 0 0;
    justify-content: space-around;
  }

  .navbar-nav {
    text-align: center;
    margin-top: 3vh;
  }

  .navbar-brand {
    margin-left: 3vw;
  }

  .navbar-toggler {
    position: absolute;
    left: 3vw;
    top: 5vh;
    color: white;
  }

  .cart {
    position: absolute;
    right: 5vw;
    top: 5.5vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin-top: 3vh;
  }

  .navbar-toggler {
    position: absolute;
    left: 9vw;
    top: 5vh;
    color: white;
  }

  .cart {
    position: absolute;
    right: 9vw;
    top: 5.5vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-nav {
    text-align: center;
    margin-top: 3vh;
  }

  .navbar-toggler {
    position: absolute;
    left: 9vw;
    top: 5vh;
    color: white;
  }

  .cart {
    position: absolute;
    right: 9vw;
    top: 5.5vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}
