/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
  .category {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #list-category {
    max-width: 100vw;
  }

  .category {
    flex-wrap: nowrap;
    column-gap: 2vw;
    margin-bottom: 6rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #list-category {
    max-width: 100vw;
  }

  .category {
    flex-wrap: nowrap;
    column-gap: 1vw;
    margin-bottom: 8rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #list-category {
    max-width: 100vw;
  }

  .category {
    flex-wrap: nowrap;
    column-gap: 1vw;
    margin-bottom: 10rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1349px) {
  #list-category {
    max-width: 100vw;
  }

  .category {
    flex-wrap: nowrap;
    column-gap: 1vw;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .category {
    flex-wrap: nowrap;
    column-gap: 1vw;
  }
}
